body{
		margin-top: 50px;
		font-family: 'Varela Round', sans-serif; 
	}
	
	h1{
		margin:0;
		line-height: 0.5em;
	}
	
	h2{
		line-height: 0.5em;
	}
	
	pre{
		padding: 20px;
		font-size: 14px;
	}
	
	.map{
		width:  1030px;
		height: 400px;
		margin: 0 auto;
		}
		
	.menu-item{
		font-size: 15px;
		margin-right: 10px;
	}
	
	.link-item{
		font-size: 15px;
		margin-right: 30px;
		margin-top: 20px;
	}

	
